p{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;

    background-color: rgb(198, 221, 221);
}

/* //Margins with 4 parameters
p{
    margin: 100px 60px 150px 80px;
}

    //Margins with 1 parameter
p{
    margin: 100px;
}

    //Margins with 3 parameters
p{
    margin: 100px 200px 50px;
}
    */

    div{
        /*padding: 100px 50px 200px 80px;    */

        width: 150px;
        margin: 50px;
        border: 15px solid green;
        background-color: aliceblue;
        padding: 50px;
    }